.project {
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    box-shadow: var(--shadow);
    transition: transform 0.2s linear;
    font-weight: bolder;
    font-size: 1.2em;
  }
  
  .project:hover {
    transform: translateY(-7px);
  }
  
  .project__description {
    margin-top: 1em;
    font-size: 0.7em;
  }
  
  .project__stack {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 1em 0;
    padding-right: 1.8em;
  }
  
  .project__stack-item {
    margin: 0.5em;
    font-weight: 500;
    font-size: 0.8rem;
    color: var(--clr-fg-alt);
    list-style: none;
  }
  
  .project .link--icon {
    margin-left: 0.5em;
    font-size: 1.3em;
  }

  .hey{
    margin:none;
  }